<script>
  var locations = <%= raw @locations.to_json %>;
  const MAPBOX_TOKEN = "<%= ENV['API_KEY'] %>";
</script>

<div id='map'></div>
<div id="instructions">
<%= render :partial => 'locations/filters' %>
</div>
