<div style="display: flex; flex-direction: column;">
<div style="display: flex;">
    <%= label_tag :nonacoustic_orientation, 'Засоби неакустичної орієнтації' %>
    <%= check_box_tag :nonacoustic_orientation, '1', true %>
</div>

<div style="display: flex;">
    <%= label_tag :nonvisible_orientation, 'Засоби невізуальної орієнтації' %>
    <%= check_box_tag :nonvisible_orientation, '1', true %>
</div>
</div>